header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3874ff;
  padding: 10px 20px;
  margin-bottom: 150px;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

footer {
  text-align: center;
  background-color: #3874ff;
  padding: 20px;
  margin-top: 80px;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .head {
    display: block;
  }
}
